
.icon-code:before { content: '\e7ee'; } /* '' */
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-apple:before { content: '\e807'; } /* '' */
.icon-briefcase:before { content: '\e808'; } /* '' */
.icon-shareable:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-lightbulb:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-current:before { content: '\e80d'; } /* '' */
.icon-dell:before { content: '\e80e'; } /* '' */
.icon-memeo:before { content: '\e80f'; } /* '' */
.icon-greendimes:before { content: '\e810'; } /* '' */
.icon-pricelock:before { content: '\e811'; } /* '' */
.icon-spin:before { content: '\e850'; } /* '' */
.icon-video:before { content: '\e853'; } /* '' */